@page "/demo/table"

<div>
    <Heading Level="HeadingLevel.H1" class="text-truncate">
        Table Demo
    </Heading>

    <div class="mb-3">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkHoverable" @bind-value="this.Hoverable">
            <label class="custom-control-label" for="checkHoverable">Hoverable</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkStriped" @bind-value="this.Striped">
            <label class="custom-control-label" for="checkStriped">Striped</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkBordered" @bind-value="this.Bordered">
            <label class="custom-control-label" for="checkBordered">Bordered</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkBorderless" @bind-value="this.Borderless">
            <label class="custom-control-label" for="checkBorderless">Borderless</label>
        </div>
    </div>

    <Table TItem="TestObject" Data="this.Data"
           Hoverable="this.Hoverable"
           Striped="this.Striped"
           Bordered="this.Bordered"
           Borderless="this.Borderless">
        <ChildContent>
            <TableColumn TItem="TestObject" Title="String" Property="x => x.StringProp" />
            <TableColumn TItem="TestObject" Title="Int" Property="x => x.IntProp.ToString()" />
            <TableColumn TItem="TestObject" Title="Double" Property="x => x.DoubleProp.ToString()" />
            <TableColumn TItem="TestObject" Title="DateTime" Property="x => x.DateTimeProp.ToString()" Context="colItem">
                <BodyTemplate>
                    <Badge Color="NamedColor.Primary">
                        @colItem.DateTimeProp.ToString()
                    </Badge>
                </BodyTemplate>
            </TableColumn>
        </ChildContent>
        <RowDetailsTemplate Context="rowItem">
            <Card Margin="Spacing.S0">
                <p>@rowItem.StringProp</p>
                <p>@rowItem.IntProp</p>
                <p>@rowItem.DoubleProp</p>
                <p>@rowItem.DateTimeProp</p>
            </Card>
        </RowDetailsTemplate>
    </Table>
</div>
